@use "../abstracts/breakpoints" as *;

.additional-info {
  @include breakpoint("lg", "min") {
    flex-basis: 28%;
    order: -1;
  }

  .logo {
    display: block;
    margin-bottom: 1.3rem;
    width: 22rem;

    @include breakpoint("lg", "min") {
      margin-bottom: 2.2rem;
    }
  }

  .huddle-info {
    margin-bottom: 4rem;

    @include breakpoint("lg", "min") {
      margin-bottom: 2.2rem;
    }
  }

  .contact {
    display: flex;
    align-items: center;
    gap: 2rem;

    img {
      width: 1.8rem;
    }
  }

  .contact {
    margin-bottom: 1rem;
  }

  .social {
    margin-top: 4.3rem;
    margin-bottom: 1rem;

    @include breakpoint("lg", "min") {
      margin-top: 7.1rem;
    }
  }

  .fa-brands {
    font-size: 2.7rem;
    margin-right: 1.7rem;

    @include breakpoint("lg", "min") {
      font-size: 3.3rem;
    }

    &:hover {
      color: #02c7fd;
    }
  }
}
