@use "../abstracts/colors";
@use "../abstracts/breakpoints" as *;

.attribution {
  text-align: center;
  padding: 1rem 0;

  @include breakpoint("lg", "min") {
    flex-basis: 100%;
  }

  a {
    color: colors.$pink;

    &:hover {
      color: colors.$light-pink;
    }
  }
}