@use "../abstracts/colors";
@use "../abstracts/variables" as vars;
@use "../abstracts/breakpoints" as *;

%btn {
  display: inline-block;
  font-family: inherit;
  font-size: inherit;
  border: none;
  text-align: center;
  text-decoration: none;
  transition: all 0.2s;
  cursor: pointer;
}

.btn-pink {
  @extend %btn;
  color: colors.$white;
  font-size: 1.3rem;
  font-weight: vars.$font-weight-semi-bold;
  letter-spacing: 1px;
  padding: 1.1rem 3.9rem;
  background-color: colors.$pink;
  border-radius: 2.2rem;
  box-shadow: 0px 5px 21px -3px rgba(0,0,0,0.5);

  @include breakpoint("lg", "min") {
    font-size: 1.7rem;
    padding: 2.5rem 9.3rem;
    border-radius: 4rem;
  }

  &:hover {
    background-color: colors.$light-pink;
  }
}

.btn-pink-footer {
  @extend %btn;
  color: colors.$white;
  font-size: 1.4rem;;
  font-weight: vars.$font-weight-semi-bold;
  letter-spacing: 1px;
  padding: 1.2rem 4.5rem;
  background-color: colors.$pink;
  border-radius: 0.5rem;

  @include breakpoint("lg", "min") {
    padding: 1.2rem 3.9rem;
  }

  &:hover {
    background-color: colors.$light-pink;
  }
}

.btn-outline-pink {
  @extend %btn;
  color: colors.$pink;
  font-size: 1.3rem;
  font-weight: vars.$font-weight-semi-bold;
  padding: 0.25rem 1.6rem;
  border: 1px solid colors.$pink;
  border-radius: 2.2rem;

  @include breakpoint("lg", "min") {
    font-size: 1.5rem;
    padding: 0.6rem 2.4rem;
  }

  &:hover {
    border: 1px solid colors.$light-pink;
    color: colors.$light-pink;
  }
}
