@use "../abstracts/breakpoints" as *;

.newsletter {
  margin-bottom: 10rem;

  @include breakpoint("lg", "min") {
    flex-basis: 43%;
  }

  &-title {
    text-transform: uppercase;
  }

  &-desc {
    margin-bottom: 3rem;

    @include breakpoint("lg", "min") {
      max-width: 71%;
    }
  }

  &-sub-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 1.5rem;

    @include breakpoint("lg", "min") {
      flex-wrap: nowrap;
      gap: 3.4rem;
    }
  }

  .sub-email {
    flex-basis: 100%;
    height: 4.7rem;
    border-radius: 0.7rem;
  }
}