@use '../abstracts/colors';
@use '../abstracts/variables' as vars;

:root {
  font-size: vars.$font-size-root;
}

body {
  font-family: vars.$font-family-base;
  font-size: vars.$font-size-base;
  font-weight: vars.$font-weight-normal;
  line-height: vars.$line-height-base;
  color: colors.$very-dark-cyan;
  background-color: colors.$white;
  min-height: 100vh;
}

.main {
  min-height: 100vh;
  padding: 8rem 2.4rem;
}