// Primary
$pink: #ff52bf !default;
$light-pink: #ff8fd8 !default;
$light-red: #ff4242 !default;

// Neutral
$white: #fff !default;
$very-dark-cyan: #00252e !default;
$very-pale-blue: #f5faff !default;