@use "../abstracts/breakpoints" as *;

.main-header {
  margin-bottom: 9rem;

  @include breakpoint("lg", "min") {
    margin-bottom: 14.5rem;
  }
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;

  @include breakpoint("lg", "min") {
    padding-top: 7rem;
    padding-bottom: 7rem;
  }

  .logo-img {
    display: block;
    width: 14rem;
    height: auto;

    @include breakpoint("lg", "min") {
      width: 22rem;
    }
  }
}
