html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
  overflow-x: hidden;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
  color: inherit;
}

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

button,
input,
optgroup,
select,
textarea {
  font: inherit;
}

:root {
  font-size: 62.5%;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.6;
  color: #00252e;
  background-color: #fff;
  min-height: 100vh;
}
@media (min-width: 992px) {
  body {
    font-size: 1.5rem;
  }
}

h1 {
  font-family: "Poppins", sans-serif;
  font-size: 2.8rem;
  font-weight: 700;
  margin-bottom: 2.5rem;
}
@media (min-width: 992px) {
  h1 {
    font-size: 4.4rem;
  }
}

h2 {
  font-family: "Poppins", sans-serif;
  font-size: 2.4rem;
  font-weight: 700;
  margin-bottom: 2.5rem;
}
@media (min-width: 992px) {
  h2 {
    font-size: 3.7rem;
  }
}

h3 {
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
}
@media (min-width: 992px) {
  h3 {
    font-size: 2.2rem;
  }
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.visually-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
  position: absolute;
}

.wrapper {
  max-width: 50rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 3rem;
  padding-right: 3rem;
}
@media (min-width: 992px) {
  .wrapper {
    max-width: 120rem;
  }
}

.btn-outline-pink, .btn-pink-footer, .btn-pink {
  display: inline-block;
  font-family: inherit;
  font-size: inherit;
  border: none;
  text-align: center;
  text-decoration: none;
  transition: all 0.2s;
  cursor: pointer;
}

.btn-pink {
  color: #fff;
  font-size: 1.3rem;
  font-weight: 600;
  letter-spacing: 1px;
  padding: 1.1rem 3.9rem;
  background-color: #ff52bf;
  border-radius: 2.2rem;
  box-shadow: 0px 5px 21px -3px rgba(0, 0, 0, 0.5);
}
@media (min-width: 992px) {
  .btn-pink {
    font-size: 1.7rem;
    padding: 2.5rem 9.3rem;
    border-radius: 4rem;
  }
}
.btn-pink:hover {
  background-color: #ff8fd8;
}

.btn-pink-footer {
  color: #fff;
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: 1px;
  padding: 1.2rem 4.5rem;
  background-color: #ff52bf;
  border-radius: 0.5rem;
}
@media (min-width: 992px) {
  .btn-pink-footer {
    padding: 1.2rem 3.9rem;
  }
}
.btn-pink-footer:hover {
  background-color: #ff8fd8;
}

.btn-outline-pink {
  color: #ff52bf;
  font-size: 1.3rem;
  font-weight: 600;
  padding: 0.25rem 1.6rem;
  border: 1px solid #ff52bf;
  border-radius: 2.2rem;
}
@media (min-width: 992px) {
  .btn-outline-pink {
    font-size: 1.5rem;
    padding: 0.6rem 2.4rem;
  }
}
.btn-outline-pink:hover {
  border: 1px solid #ff8fd8;
  color: #ff8fd8;
}

.main-header {
  margin-bottom: 9rem;
}
@media (min-width: 992px) {
  .main-header {
    margin-bottom: 14.5rem;
  }
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}
@media (min-width: 992px) {
  .navbar {
    padding-top: 7rem;
    padding-bottom: 7rem;
  }
}
.navbar .logo-img {
  display: block;
  width: 14rem;
  height: auto;
}
@media (min-width: 992px) {
  .navbar .logo-img {
    width: 22rem;
  }
}

.cta {
  text-align: center;
  line-height: 1.4;
  margin-bottom: 10rem;
}
.cta h2.cta-title {
  margin-bottom: 3.7rem;
}
.cta-desc {
  margin-bottom: 5rem;
}
@media (min-width: 992px) {
  .cta-desc {
    font-size: 1.8rem;
    max-width: 56rem;
    font-weight: 600;
    margin-left: auto;
    margin-right: auto;
  }
}

/*# sourceMappingURL=main.css.map */
